* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* menu */

.header {
    background-color: #124E78;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 7vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.logo > h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1em;
}

.logoTitle {
    color: #38AECC;
}

/* footer */

footer{
    background-color: #124E78;
    padding: 50px;
}

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.divisorFooter{
    height: 100px;
    border-right: 1px solid #FDFFFC;
}

.icon{
    color: #FDFFFC;
    font-size: 1.5rem;
}

.containerFooter > .icon > a {
    text-decoration: none;
    color: #FDFFFC;
}

.loginho{
    display: flex;
}

/* body */

body { 
    background-color: #38AECC;
}

.sectionBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
}

/* home */

.containerInicial {
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    gap: 7rem;
}

.apresent {
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerInicial > .apresent > p {
    font-size: 1.4rem;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
}

span {
    color: #FDFFFC;
}

.containerInicial > .apresent > h1 {
    font-size: 4.2rem;
    color: #18020c;
}

.btnInicial {
    display: flex;
    gap: 2rem;
}

.btnInicial > button {
    color: #FDFFFC;
    padding: 1.2em;
    font-family: 'Hammersmith One', sans-serif;
    background-color: #38AECC;
    border-radius: 15px;
    border: 1px solid #18020c;
    font-family: 'Inclusive Sans', sans-serif;
}

.btnInicial > button:hover {
    cursor: pointer;
    transition: 2s;
    background-color: #124E78;
}

.elipseContainer > .memojiInicial {
    width: 15rem;
}

/* Sobre mim */

.containerSobreMim {
    margin: 5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.apresentDois {
    display: flex;
    gap: 7rem;
}

.sobremim {
    width: 28em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.apresentDois > .sobremim > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align:center;
}

.apresentDois > .sobremim > .textoSobreMim {
    background-color: #124E78;
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
}

.memojiPc {
    width: 15rem;
}