* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* menu */

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.header{
    background: #124E78;
    padding-inline: 16px;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #FFF;
    padding-block: 16px;
}

#hamburguer{
    display: none;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 750px) {
    #hamburguer{
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #124E78;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    } 
     .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    /* Estilos em ativo */

    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

}

/* .header {
    background-color: #124E78;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 7vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0,0,0.19);
} */


/* .logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.logo > h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1em;
}

.logoTitle {
    color: #38AECC;
} */

/* footer */

footer{
    background-color: #124E78;
    padding: 50px;
}

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.divisorFooter{
    height: 100px;
    border-right: 1px solid #FDFFFC;
}

.icon{
    color: #FDFFFC;
    font-size: 1.5rem;
}

.containerFooter > .icon > a {
    text-decoration: none;
    color: #FDFFFC;
}

.loginho{
    display: flex;
}

/* body */

body { 
    background-color: #38AECC;
}

.sectionBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}

/* home */

.containerInicial {
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    gap: 7rem;
}

.apresent {
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerInicial > .apresent > p {
    font-size: 1.4rem;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
}

span {
    color: #FDFFFC;
}

.containerInicial > .apresent > h1 {
    font-size: 4.2rem;
    color: #18020c;
}

.btnInicial {
    display: flex;
    gap: 2rem;
}

.btnInicial > button {
    color: #FDFFFC;
    padding: 1.2em;
    background-color: #38AECC;
    border-radius: 15px;
    border: 1px solid #18020c;
    font-family: 'Inclusive Sans', sans-serif;
    transition: all 2s ease-in-out;
}

.btnInicial > button:hover {
    cursor: pointer;
    transition: all 2s ease-in-out;
    background-color: #124E78;
}

.elipseContainer > .memojiInicial {
    width: 15rem;
}

/* Sobre mim */

.containerSobreMim {
    margin: 5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.apresentDois {
    display: flex;
    gap: 7rem;
}

.sobremim {
    width: 28em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.apresentDois > .sobremim > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align:center;
}

.apresentDois > .sobremim > .textoSobreMim {
    background-color: #124E78;
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
    box-shadow: 10px 10px 10px rgba(0,0,0.389);
}

.memojiPc {
    width: 15rem;
}

/* Habilidades */

.containerHabilidades {
    margin: 4em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    background-color: #D9D9D94D;
    border-radius: 15px;
}

.contentHabilidades > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
}

.cardsHabil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #124E78;
    text-align: justify;
    width: 300px;
    padding: 25px;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
    box-shadow: 10px 10px 10px rgba(0,0,0.389);
    position: relative;
}


/* Triangulo cards */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #38AECC;
    border-right: 20px solid #38AECC;
}

h3 {
    text-align: center;
    color: #18020c;
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 2rem;
}

#readMore {
    background-color: #124E78;
    border: 1px solid #18020c;
    border-radius: 15px;
    padding: .75rem;
    cursor: pointer;
    color: #FDFFFC;
    font-family: 'Hammersmith One', sans-serif;
    transition: all 2s ease-in-out;
}

#readMore:hover {
    transition: all 2s ease-in-out;
    background-color: #38AECC;
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #09273b6d);
}

.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}

/* Pojetos */

.containerProjetos {
    margin: 2em;
    padding: 1em;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.contentProjet {
    display: flex;
    flex-direction: column;
}

.contentProjet > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.cardProjetos {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    text-align: center;
}

.cardProjeto {
    display: flex;
    flex-direction: column;
    background-color: #124E78;
    width: 15rem;
    padding: 25px;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
    box-shadow: 10px 10px 10px rgba(0,0,0.389);
    gap: 1rem;
    border-radius: 15px;
}

.cardProjeto > p {
    text-align: center;
    font-size: 0.75rem;
}

.btnProjeto {
    background-color: #124E78;
    border: 1px solid #18020c;
    border-radius: 15px;
    padding: .75rem;
    cursor: pointer;
    color: #FDFFFC;
    font-family: 'Hammersmith One', sans-serif;
    transition: all 2s ease-in-out;
}

.btnProjeto:hover {
    transition: all 2s ease-in-out;
    background-color: #38AECC;
}

/* certificados & badges */

.containerCertificados {
    margin: 2em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

.titleCertificado {
    display: flex;
    gap: 4rem;
}

.titleCertificado > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align: justify;
    align-items: center;
    margin-bottom: 50px;
}

.containerSlider {
    position: relative;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.galleryWrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrowLeft, .arrowRight {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #FDFFFC;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrowRight {
    text-align: center;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrowLeft:hover, .arrowRight:hover {
    opacity: 1;
}

.item {
    width: 450px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.currentItem {
    opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.galleryWrapper::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.galleryWrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Contato */

.contatoContent {
    margin: 4em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}


.contatoContent > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.formContato {
    background-color: #124E78;
    margin: 1em;
    padding: 2em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.formContato > p {
    margin: 2em;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
}

.formEMemoji {
    display: flex;
    flex-direction: row;
    position: relative;
}

.formEMemoji > img {
    position: absolute;
    width: auto;
    height: 9rem;
    bottom: 0;
    right: 0;
}


.justForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #D9D9D94D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.justForm label {
    display: block;
    color: #FDFFFC;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Inclusive Sans', sans-serif;
}

.justForm input[type="text"],
.justForm input[type="email"],
.justForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #D9D9D94D;
    border-radius: 5px;
}

.justForm button {
    padding: 10px 20px;
    background-color: #38AECC; 
    color: #FDFFFC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.justForm button:hover {
    background-color: #124E78;
    transition: all 0.3s ease-in-out;
}