* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* menu */

.header {
    background-color: #124E78;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 7vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0,0,0.19);

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.logo > h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1em;
}

.logoTitle {
    color: #38AECC;
}

/* footer */

footer{
    background-color: #124E78;
    padding: 50px;
}

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.divisorFooter{
    height: 100px;
    border-right: 1px solid #FDFFFC;
}

.icon{
    color: #FDFFFC;
    font-size: 1.5rem;
}

.containerFooter > .icon > a {
    text-decoration: none;
    color: #FDFFFC;
}

.loginho{
    display: flex;
}

/* body */

body { 
    background-color: #38AECC;
}

.sectionBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}

/* home */

.containerInicial {
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    gap: 7rem;
}

.apresent {
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerInicial > .apresent > p {
    font-size: 1.4rem;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
}

span {
    color: #FDFFFC;
}

.containerInicial > .apresent > h1 {
    font-size: 4.2rem;
    color: #18020c;
}

.btnInicial {
    display: flex;
    gap: 2rem;
}

.btnInicial > button {
    color: #FDFFFC;
    padding: 1.2em;
    font-family: 'Hammersmith One', sans-serif;
    background-color: #38AECC;
    border-radius: 15px;
    border: 1px solid #18020c;
    font-family: 'Inclusive Sans', sans-serif;
    transition: all 2s ease-in-out;
}

.btnInicial > button:hover {
    cursor: pointer;
    transition: all 2s ease-in-out;
    background-color: #124E78;
}

.elipseContainer > .memojiInicial {
    width: 15rem;
}

/* Sobre mim */

.containerSobreMim {
    margin: 5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.apresentDois {
    display: flex;
    gap: 7rem;
}

.sobremim {
    width: 28em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.apresentDois > .sobremim > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align:center;
}

.apresentDois > .sobremim > .textoSobreMim {
    background-color: #124E78;
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
    box-shadow: 10px 10px 10px rgba(0,0,0.389);
}

.memojiPc {
    width: 15rem;
}

/* Habilidades */

.containerHabilidades {
    margin: 4em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    background-color: #D9D9D94D;
    border-radius: 15px;
}

.contentHabilidades > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
}

.cardsHabil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #124E78;
    text-align: justify;
    width: 300px;
    padding: 25px;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
    box-shadow: 10px 10px 10px rgba(0,0,0.389);
    position: relative;
}


/* Triangulo cards */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #38AECC;
    border-right: 20px solid #38AECC;
}

h3 {
    text-align: center;
    color: #18020c;
    font-family: 'Hammersmith One', sans-serif;
    margin-bottom: 2rem;
}

#readMore {
    background-color: #124E78;
    border: 1px solid #18020c;
    border-radius: 15px;
    padding: .75rem;
    cursor: pointer;
    color: #FDFFFC;
    font-family: 'Hammersmith One', sans-serif;
    transition: all 2s ease-in-out;
}

#readMore:hover {
    transition: all 2s ease-in-out;
    background-color: #38AECC;
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #09273b6d);
}

.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}

/* Pojetos */

.containerProjetos {
    margin: 2em;
    padding: 1em;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.contentProjet {
    display: flex;
    flex-direction: column;
}

.contentProjet > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.cardProjetos {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    text-align: center;
}

.cardProjeto {
    display: flex;
    flex-direction: column;
    background-color: #124E78;
    width: 15rem;
    padding: 25px;
    color: #FDFFFC;
    font-family: 'Inclusive Sans', sans-serif;
    box-shadow: 10px 10px 10px rgba(0,0,0.389);
    gap: 1rem;
    border-radius: 15px;
}

.cardProjeto > p {
    text-align: center;
    font-size: 0.75rem;
}

.btnProjeto {
    background-color: #124E78;
    border: 1px solid #18020c;
    border-radius: 15px;
    padding: .75rem;
    cursor: pointer;
    color: #FDFFFC;
    font-family: 'Hammersmith One', sans-serif;
    transition: all 2s ease-in-out;
}

.btnProjeto:hover {
    transition: all 2s ease-in-out;
    background-color: #38AECC;
}

/* certificados & badges */

.containerCertificados {
    margin: 2em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

.titleCertificado {
    display: flex;
    gap: 4rem;
}

.titleCertificado > h2 {
    color: #FDFFFC;
    font-size: 3.5rem;
    font-family: 'Hammersmith One', sans-serif;
    text-align: justify;
    align-items: center;
    margin-bottom: 50px;
}

.containerSlider {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

.item {
    width: 20rem;
    height: 9rem;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
}